<mat-nav-list>
    <a mat-list-item routerLink="/" (click)="onSidenavClose()">
        <mat-icon>home</mat-icon> <span class="nav-caption">Listar Pessoas</span>
    </a>
    <a mat-list-item routerLink="/addpessoa" (click)="onSidenavClose()">
        <mat-icon>assignment_ind</mat-icon> <span class="nav-caption">Adicionar Pessoas</span>   
    </a>
    <a mat-list-item routerLink="/logout" (click)="onSidenavClose()">
        <mat-icon>account_balance</mat-icon><span class="nav-caption">Sair</span>
    </a>
  </mat-nav-list>
